<h1>HOME PAGE</h1>

<a href="/signup">
  <button class="btn">Sign Up</button>
</a>

<a href="/login">
  <button class="btn">Login</button>
</a>

<a href="/auth/logout">
  <button class="btn">Logout</button>
</a>

<div>

{{#if message}}

  <h3>{{message}}</h3>

{{/if}}
</div>